<div id="MountainsForm">
  <%= form_for(@mountain, html: {id: "mountain_form"}) do |m| %>
  <% @mountain.errors.full_messages.each do |message| %>
    <div class="alert alert-danger" role="alert">
      * <%= message%>
    </div>
  <%end%>
    <div class="form-group">
      <label for="inputNameMountain">Nombre del cerro</label>
      <%= m.text_field :name, class:"form-control", id:"inputNameMountain", placeholder: "Ingresa el nombre del cerro" %>
    </div>

    <div class="form-group">
      <label for="inputNameMountain"> Subir imagen</label>
      <%= m.file_field :cover, class:"form-control-file", id:"uploadFile"%>
    </div>

    <div class="form-group">
      <label for="inputDescriptionMountain">Contenido del cerro</label>
      <trix-editor input="text-areaNotResize"></trix-editor>
      <%= m.hidden_field :description, class:"form-control", id:"text-areaNotResize", rows:"3", 
      placeholder:"Ingresa la descripcion del cerro" %>
      <%= m.hidden_field :markup_body, class:"form-control", id:"markup-body-textarea", rows:"3", 
      placeholder:"Ingresa la descripcion del cerro" %>
    </div>

    <div class="form-group">
      <label for="inputAltitudMountain">Altitud del cerro</label>
      <%= m.text_field :altitude, class:"form-control", id:"inputAltitudMountain", placeholder:"Ingresa la altitud del cerro del cerro"%>
    </div>

    <div class="form-group">
      <label for="inputAltitudMountain">Categorías</label>

      <% @categories.each do |category| %> 
        <div class="form-check">
          <%= check_box_tag "categories[]", category.id, class:"form-check-input" %> <%= category.name %>
        </div>
      <% end %>
    </div>

    <%= m.submit "Guardar", class:"btn btn-primary" %>
    <%= link_to "Volver", "/mountains", class:"btn btn-primary", id:"buttonBack"%>
  <%end%>
</div>

<script>
  $("#mountain_form").on("submit", function(){
    var element = document.querySelector("trix-editor")
    var document = element.editor.getDocument("#text-areaNotResize");
    //element.editor  --> is a Trix.Editor instance
    var text = document.toString();
    
    element.editor.setSelectedRange([0, 0]);
    element.editor.insertString("#");
  });
</script>